editdistance==0.5.3
fuzzysearch==0.7.3
matplotlib==3.4.2
numpy==1.19.5
opencv_python==4.5.3.56
PyAudio=0.2.11
PyYAML==6.0
requests==2.26.0
scipy==1.7.1
tensorflow==2.7.0
black
pylint
isort
flake8
codespell

# custom file dependencies
# word_beam_search
# PyAudio (see README)
